.form-search {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    border: 1px solid #ccc;
}

.form-search .form-group {
    margin: 0 30px;
}

.form-search .btn {
    display: block;
    margin: 15px auto 0 auto;
}

.item-search {
    border: 1px solid #ccc;
    margin: 0 0 15px 0;
    padding: 10px;
}

.item-poster-box {
    text-align: center;
}
.item-poster {
    height: 200px;
}

.form-control.ng-invalid-small {
    border-color: #dc4444;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(220,68,68,.075), 0 0 8px rgba(220, 68, 68, .6);
    box-shadow: inset 0 1px 1px rgba(220,68,68,.075), 0 0 8px rgba(220, 68, 68, .6);
}