<div class="container">
    <form class="form-inline form-search" name="filter" ng-submit="filter.$valid && submit()" novalidate>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="s" placeholder="" ng-model="$ctrl.title" required my-validation>
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="number" class="form-control" id="year" name="y" placeholder="" ng-model="$ctrl.year">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type" ng-model="$ctrl.type">
                <option value="movie" selected>Movie</option>
                <option value="series">Series</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12" ng-repeat="item in $ctrl.result">
            <div class="row item-search">
                <div class="col-lg-3 item-poster-box">
                    <img ng-src="{{item.Poster | checkImage}}" class="item-poster" alt="">
                </div>
                <div class="col-lg-9">
                    <h2>{{item.Title}}</h2>
                    <p><b>Year:</b> {{item.Year}}</p>
                    <p><b>imdbID:</b> {{item.imdbID}}</p>
                    <p><b>Type:</b> {{item.Type}}</p>
                </div>

            </div>
        </div>
    </div>

    <ul ng-show="$ctrl.totalItems > 10" uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" max-size="$ctrl.maxSize"
        class="pagination-sm" boundary-links="true" ng-change="$ctrl.pageChanged()"></ul>

</div>